/* Estilo general del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #605f5f;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  /* Estilo del título */
  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilo para la palabra oculta */
  #wordDisplay {
    font-size: 2rem;
    letter-spacing: 10px;
    margin-bottom: 15px;
    color: #333;
  }
  
  /* Estilo para los intentos restantes */
  #guesses {
    font-size: 1.5rem;
    color: #d9534f;
    margin-bottom: 20px;
  }
  
  /* Estilo para el mensaje de estado */
  #message {
    font-size: 1.2rem;
    color: #5bc0de;
    margin-bottom: 20px;
  }
  main{
    background-color: darkgray;
    padding: 20px;
    
  }
  
  /* Estilo del campo de entrada de letras */
  #letterInput {
    font-size: 1.5rem;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 5px;
  }
  
  /* Estilo del botón */
  button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Cambia el color del botón cuando el mouse está encima */
  button:hover {
    background-color: #4cae4c;
  }
  