/* Estilos para VS */
.vs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: fadeIn 2s;
}

.vs-text {
    font-size: 50px;
    font-weight: bold;
    color: red;
    animation: scaleUp 1.5s infinite alternate;
    margin: 0 20px;
}

/* Animación de zoom para "VS" */
@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

/* Animación para aparición de la pantalla */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Transiciones en los Pokémon */
.pokemon-display img {
    transition: transform 0.5s ease;
}

.pokemon-display img:hover {
    transform: scale(1.2);
}
