/* Estilo general del cuerpo de la página */
body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    font-family: calibri ;
    text-align: center;
    background-color: #7095b6;
    font-size: large;
    width: 70%;
    min-height: 100vh; 
    margin: 0 auto; 
}

/* Estilo del logo */
#logo > img {
    width: 40%;
}

/* Contenedor para la lista de Pokémon */
.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

/* Tarjetas individuales de Pokémon */
.pokemon-card {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Imágenes dentro de las tarjetas de Pokémon */
.pokemon-card img {
    width: 80px;
    height: auto;
}

/* Botones dentro de las tarjetas de Pokémon */
.pokemon-card button {
    margin-top: auto; 
    padding: 5px;
    background-color: #774caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Atributos dentro de cada tarjeta */
.atributes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contenedor de VS para mostrar el enfrentamiento */
.vs-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
}

/* Área de presentación de cada Pokémon en el enfrentamiento */
.pokemon-display {
    text-align: center;
    padding: 20px;
}

/* Texto animado "VS" */
.vs-text {
    font-size: 48px;
    color: red;
    animation: vs-animation 1s infinite alternate;
}

/* Animación para el texto "VS" */
@keyframes vs-animation {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.2); opacity: 0.8; }
}
