.contenedores {
    display: grid;
    width: 100vh;
}

.combate {
    width: 100%;
    height: 20vh; 
    background-color: #9d9d9d; 
    align-items: center;
    justify-content: center;
    color: white;

}
.pokemons {
    width: 100%;
    height: 80vh; /* Altura del contenido principal */
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
}
